<div class="info-box" data-id="review-details">
    <div class="">
        <img src="{{ asset('/img/qrcode.png') }}" height="150" width="150">
    </div>
    <div class="info-box-content">
        <span class="info-box-text font-14"><strong>Review link:</strong></span>
        <a href="#" class="font-14">http://localhost:8072/index.php/business/edithttp://localhost:8072/index.php/business/edithttp://localhost:8072/index.php/business/edithttp://localhost:8072/index.php/business/edit</a>
        <div class="text-right">
            <button type="button" class="btn btn-outline-info btn-flat btn-xs">
                <i class="fa fa-pen"></i>
                Edit
            </button>
            <button type="button" class="btn btn-outline-info btn-flat btn-xs"
                    data-id="btn-open-remove-review-confirmation">
                <i class="fa fa-trash"></i>
                Remove
            </button>
        </div>
    </div>
</div>