<div class="row mt-2">
    <div class="col">
        <h5 class="mb-0">Review Links</h5>
    </div>
</div>
<div class="row form-group">
    <div class="col">
        <button class="btn btn-xs btn-outline-info" type="button">
            <i class="fa fa-plus"></i>
            Generate new Review link
        </button>
    </div>
</div>
<div class="row form-group">
    <div class="col-12">
        {% include '/business/_review_details.html.twig' %}
    </div>
    <div class="col-12">
        {% include '/business/_review_details.html.twig' %}
    </div>
</div>