<div class="modal fade"
     id="modalUpdateReviewItem"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gradient-info pt-1 pb-1">
                <span class="modal-title " data-id="modal-title" id="modalUpdateReviewItemLabel">Update Google Review Link</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-id="modal-body">
                <div class="row">
                    <div id="modalUpdateReviewItemConfirmationText" class="font-14">
                        <form>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Google Review Link</label>
                                    <input placeholder="Enters the Google Review Link" name="review-link"
                                           class="form-control form-control-border">
                                </div>
                                <div class="col-12">
                                    <small class="text-muted">This value represents the Google Review Link.</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-1">
                <button id="btnSubmitUpdateReview" type="button"
                        class="btn btn-info btn-xs m-0">Update
                </button>
            </div>
        </div>
    </div>
</div>