.card-header-compressed {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dataTables_filter {
    text-align: end;
}

.table-sm th, .table-sm td {
    font-size: 14px;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .paginate_button {
    font-size: 14px;
}

.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.datatable-child-details {
    background-color: #d8dbdf;
}

.card input, .card select {
    font-size: 14px;
}