.card-header-compressed {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dataTables_filter {
    text-align: end;
}

.table-sm th, .table-sm td {
    font-size: 14px;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .paginate_button {
    font-size: 14px;
}

.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.datatable-child-details {
    background-color: #d8dbdf;
}

.card input, .card select {
    font-size: 14px;
}

.modal-body select, .card-body select {
    font-size: 14px;
    margin-bottom: 0;
    height: 25px;
}

.business-list-filter-container .default-input {
    height: 38px;
}

.modal-body input, .card-body input {
    font-size: 14px;
    margin-bottom: 0;
    height: 25px;
    padding-left: 2px;
    padding-right: 2px;
}

.modal-body label, .card-body label {
    font-size: 14px;
    margin-bottom: 0;
}

.modal-body [data-id="modal-body"], .modal-header [data-id="modal-title" ] {
    font-size: 14px;
    margin-bottom: 0;
}

.modal-body {
    font-size: 14px;
}

th.non-top-border {
    border-top: none !important;
}

.font-14 {
    font-size: 14px;
}

.badge {
    font-weight: 500;
}

.bg-shadow {
    box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.72);
}
