<ol class="breadcrumb float-sm-none font-14 justify-content-lg-center">
    {% if breadcrumb|length > 1 %}
        {% for label, link in breadcrumb %}
            {% if loop.last %}
                <li class="breadcrumb-item active">{{ label }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ link }}">{{ label }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ol>