{% set startDate = '2022' %}
<footer class="main-footer">
    <div class="text-center">
        {% if systemVersion is defined and systemVersion %}
            <div class="float-right d-none d-sm-block">
                <b>Version</b> systemVersion
            </div>
        {% endif %}
        <strong>
            <small>
                {% set nowYear = 'now' | date('Y') %}
                {% if nowYear == startDate %}
                    Copyright &copy; {{ startDate }}.
                {% else %}
                    Copyright &copy; {{ startDate }} - {{ nowYear }}
                {% endif %}
            </small>
        </strong>
        <small>Yenier Jimenez - All rights reserved.</small>
        <div>
            <small>Design based on <a href="https://adminlte.io" target="_blank">AdminLTE.io.</a></small>
        </div>
    </div>
</footer>