<div class="modal fade" id="modalShowQrCode" role="dialog"
     aria-labelledby="modalShowQrCodeLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="table-avatar qr-img" height="350" width="350">
                <div class="row">
                    <div class="col-12 bg-light text-center">
                        <strong>Business: </strong><span class="font-14 text-muted qr-business-name"></span>
                    </div>
                    <div class="col-12 bg-light text-center">
                        <strong>Google Review Link: </strong><span class="font-14 text-muted qr-link"></span>
                    </div>
                    <div class="col-12 p-2">
                        <button title="Copy Review Link to Clipboard"
                                data-review-link=""
                                class="btn btn-outline-secondary btn-xs btnCopyToClipBoard">
                            <i class="fa fa-copy"></i>
                            {% set defaultBtnTxt = 'Copy Review Link to Clipboard' %}
                            <span class="text-copy-clipboard"
                                  data-default-text="{{ defaultBtnTxt }}">{{ defaultBtnTxt }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>