<div class="row">
    <div class="col-12 p-15">
        <div class="text-center">
            <h5><strong>Here is your link:</strong></h5>
            <h2 class="m-0"><i class="fa fa-hand-point-down system-font-color" ></i></h2>
            <div class="d-md-flex justify-content-md-between google-review-link-container">
                <div class="d-inline-block"></div>
                <div class="d-inline-block" style="line-break: anywhere;">
                    <a id="linkGoogleReviewLink" data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Copy the link to Clipboard"
                       target="_blank"
                       href="">
                    </a>
                </div>
                <div class="d-inline-block">
                    <button id="btnCopyToClipBoard"
                            class="btn btn-info btn-xs btnCopyToClipBoard font-weight-1"
                            title="Copy to clipboard"
                            data-review-link="">
                        <span class="text-copy-clipboard">Copy to clipboard</span>
                        <i role="button" class="fa fa-copy "></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" style="padding: 20px;">
        <div style="padding: 10px;">
            <div>
                With this link you will get more Google reviews and your customers can refer you business.
            </div>
            <div>
                How to use your Google review link?
            </div>
        </div>
        <ol>
            <li style="padding: 5px">You may opt to email or text your customers and ask them to review you using
                the above link.
            </li>
            <li style="padding: 5px">You may opt to add it into the receipt sent by email.</li>
            <li style="padding: 5px">You may opt to add it into your business website.</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12" style="padding: 20px;">
        <div class="text-center">
            <h5><strong>Here is your link as a QR code:</strong></h5>
            <img id="imgGoogleReviewQrCode" height="200" width="200">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" style="padding: 40px;">
        <div>

        </div>
        <div style="padding: 10px;">
            <div>
                The above QR code holds your Google review link. It is an excellent resource to share your Google
                review link.
            </div>
            <div>
                How to use your QR code review link?
            </div>
        </div>

        <ul>
            <li style="padding: 10px"><strong>Put the QR code on a business card:</strong> Ask your customer
                in-person “would you be
                willing to leave me a
                review on Google?” When they say yes, hand them this card and say “Great, just point your smartphone
                camera at this QR code and it will take you straight to our Google Profile to leave a review.” (Put
                your review link on this card too.)
            </li>
            <li style="padding: 10px"><strong>Put the QR code on a sign in your shop:</strong> Make a sign and put
                it up at the front desk
                of your office.
                The sign could say something like “Please leave us a review on Google. Simply point your smartphone
                camera at this QR code.” (Put your review link on the sign too.)
            </li>
            <li style="padding: 10px"><strong>Put it on a t-shirt:</strong> Going to a conference? Meeting with
                customers in your
                business? Imagine if you
                were wearing a t-shirt that said “Please leave us a review on Google. Point your smartphone camera
                at my shirt!” People would be curious and would find it fun to do. It’s a good conversation starter.
            </li>
        </ul>
    </div>
</div>